body{
    margin: 0%;
}

header {
    background-color: #120323;
    color: #97bf04;
    font-family: sans-serif;
    display: grid;
    text-align: center;
}

nav li {
    background-color: #d9043d;
    border: 2px solid #97bf04;
    margin: 1rem 0.5rem;
    padding: 1rem;
    list-style-type: none;
}

nav li a {
    color: white;
    text-decoration: none; 
}

h2 {
    text-align: center;
    font-family: sans-serif;
}

main {
    background-color: #cccccc;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

figure {
    background-color: white;
    padding: 2rem;
    
}

main img {
    border-bottom: 10px solid #97bf04;
}

footer {
    background-color: #d9043d;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 768px) {

   nav {
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    background-color: #d9043d;
   }
   
    nav li {
        border: none;
        display: inline;
    
    }

    #gallery-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0 2rem;
    }

    figure:last-of-type {
        grid-column: span 2;
        text-align: center;
    }
    h3{
        text-align: left;
    }
    p {
        text-align: left;
    }
}